{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "ConnectionStrings": {
    "CvDatabase": "Host=localhost;Database=cvdatabase;Username=postgres;Password=changeme"
  },
  "EmailNotification": {
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": "587",
    "FromAddress": "bernardo.sarich@gmail.com",
    "ToAddress": "bernardo.sarich@gmail.com",
    "Username": "bernardo.sarich@gmail.com"
  }
}
